<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="parallel">
    <test name="JDIMobileTest">
        <classes>
            <class name="testScripts.TestScript1">
                <methods>
                    <include name="simpleLoginTest"/>
                    <include name="buttonPressTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>